<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>ICT502-PROJECT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SigninServlet</display-name>
    <servlet-name>SigninServlet</servlet-name>
    <servlet-class>controller.SigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninServlet</servlet-name>
    <url-pattern>/SigninServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>controller.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployee</display-name>
    <servlet-name>ViewEmployee</servlet-name>
    <servlet-class>controller.employee.ViewEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployee</servlet-name>
    <url-pattern>/ViewEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateEmployee</display-name>
    <servlet-name>CreateEmployee</servlet-name>
    <servlet-class>controller.employee.CreateEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateEmployee</servlet-name>
    <url-pattern>/CreateEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>projectServlet</display-name>
    <servlet-name>projectServlet</servlet-name>
    <servlet-class>controller.project.projectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>projectServlet</servlet-name>
    <url-pattern>/projectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateProject</display-name>
    <servlet-name>CreateProject</servlet-name>
    <servlet-class>controller.project.CreateProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProject</servlet-name>
    <url-pattern>/CreateProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProject</display-name>
    <servlet-name>UpdateProject</servlet-name>
    <servlet-class>controller.project.UpdateProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProject</servlet-name>
    <url-pattern>/UpdateProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProject</display-name>
    <servlet-name>DeleteProject</servlet-name>
    <servlet-class>controller.project.DeleteProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProject</servlet-name>
    <url-pattern>/DeleteProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEmployee</display-name>
    <servlet-name>EditEmployee</servlet-name>
    <servlet-class>controller.employee.EditEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmployee</servlet-name>
    <url-pattern>/EditEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployee</display-name>
    <servlet-name>UpdateEmployee</servlet-name>
    <servlet-class>controller.employee.UpdateEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployee</servlet-name>
    <url-pattern>/UpdateEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployee</display-name>
    <servlet-name>DeleteEmployee</servlet-name>
    <servlet-class>controller.employee.DeleteEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployee</servlet-name>
    <url-pattern>/DeleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentServlet</display-name>
    <servlet-name>PaymentServlet</servlet-name>
    <servlet-class>controller.payment.PaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentServlet</servlet-name>
    <url-pattern>/PaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatePayment</display-name>
    <servlet-name>CreatePayment</servlet-name>
    <servlet-class>controller.payment.CreatePayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePayment</servlet-name>
    <url-pattern>/CreatePayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAppointment</display-name>
    <servlet-name>EditAppointment</servlet-name>
    <servlet-class>controller.payment.EditAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAppointment</servlet-name>
    <url-pattern>/EditAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePayment</display-name>
    <servlet-name>DeletePayment</servlet-name>
    <servlet-class>controller.payment.DeletePayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePayment</servlet-name>
    <url-pattern>/DeletePayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPayment</display-name>
    <servlet-name>EditPayment</servlet-name>
    <servlet-class>controller.payment.EditPayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPayment</servlet-name>
    <url-pattern>/EditPayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportServlet</display-name>
    <servlet-name>ReportServlet</servlet-name>
    <servlet-class>controller.ReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportServlet</servlet-name>
    <url-pattern>/ReportServlet</url-pattern>
  </servlet-mapping>
</web-app>